/* @import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Outfit:wght@100..900&display=swap"); */

@import "tailwindcss";
@plugin "@toolwind/corner-shape";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Colors */
  --color-royal-gold: #e5d0ac;
  --color-royal-red: #6d2323;
  --color-blax: #252525;

  /* Fonts */
  /* --font-inria-serif: "Inria Serif", serif;
  --font-outfit: "Outfit", sans-serif; */
}

/* Side scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(25, 25, 25, 0); /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: #6d2323; /* Thumb color */
  border-radius: 0px;
}

/* Custom CSS */
@utility text-outline {
  -webkit-text-stroke: 1px #252525;
  -webkit-text-fill-color: transparent;
}
