@import url("https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@plugin "@toolwind/corner-shape";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Additional colors */
  --color-blax: #252525;

  /* Choco colors */
  --color-brown-900: #1a1818;
  --color-brown-800: #262423;
  --color-brown-700: #372e2c;
  --color-brown-600: #453632;
  --color-brown-500: #735f59;
  --color-brown-400: #98817a;
  --color-brown-300: #bba6a0;
  --color-brown-200: #dbcbc6;
  --color-brown-100: #f7efec;
  --color-brown-50: #fbf8f7;

  /* Dark colors */
  --color-dark-900: #1b1a19;
  --color-dark-600: #262524;
  --color-dark-100: #9b9191;
  /* --color-brown-600: #453632;  USED AS SHADOW*/

  /* Fonts */
  --font-poppins: "Poppins", sans-serif;
  --font-fragment-mono: "Fragment Mono", monospace;
}

/* Side scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(25, 25, 25, 0); /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: #6d2323; /* Thumb color */
  border-radius: 0px;
}

/* Custom CSS */
@utility text-outline {
  -webkit-text-stroke: 1px #252525;
  -webkit-text-fill-color: transparent;
}
